{% extends 'layout.html' %}
{% block body %}

<div class="container-wide" ng-controller="homeCtrl">
<div ng-show="playerNum != null">
  You are P[[playerNum]]
</div>

Scores:
<div ng-repeat="score in scores track by $index">
P[[$index+1]]: [[score]]
</div>

current round scores:
<div ng-repeat="score in curScores track by $index">
P[[$index+1]]: [[score]]
</div>

[[status]]
<br>
<div id="myCards" style="display: inline-block;">
<div ng-repeat="card in hand" ng-show="card.show" style="display:inline">
<img ng-click="cardHit(card)" src="/public/vendor/cards/[[card.imgName]]" style="width:40px;">
</div>
</div>
<br>
<div ng-repeat="card in cardsInPlay" ng-show="card.show" style="display:inline">
<img src="/public/vendor/cards/[[card.imgName]]" style="width:40px;">
</div>

<div ng-show="started">
<pre>
<h1>How to Play</h1>
1) Shuffle and deal in a clockwise direction a standard deck of 52 playing cards with no
jokers.
2) Deal out all the cards until each player has 13.
3) Take three cards from your hand and lay them facedown on the table before the first hand
is played. Pass them to the player on your left.
4) Pick up the three cards that were passed to you by the person on your right.
5) Lead the 2 of clubs if you're holding it. Otherwise, play a club when it's your turn, going
clockwise around the table.
6) Pick up the trick if your card was the highest-numbered card in the suit that was led -
which means that you won the trick.
7) Lead the next trick if you won the first one. This time, you can lead with any suit.
8) Follow suit if you didn't win the first trick. That is, play the suit that someone else leads.
9) Play a heart (or another card of a different suit) only if a player leads a suit that you don't
have.
10) Lead with a heart only after someone plays a heart because he or she couldn't follow suit.
11)Continue playing until all 13 tricks have been played.
12)Count up the points - 1 for each heart and 13 for the queen of spades - from the tricks you
took.
13) Write your score and the other players' scores on a notepad.
14) Let the person to your left deal the next hand.
15)Repeat Steps 3) through 13).
16) End the game when one person has reached or exceeded 100 points. The player with the
lowest score at that point wins.
</pre>
</div>

</div>
{% endblock %}

{% block script %}
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">


function homeCtrl($scope, $http) {
  var socket = io();
  $scope.status = "Waiting for other players..."
  $scope.playerNum = null
  $scope.hand = []
  $scope.cardsInPlay = []
  $scope.scores = [0,0,0,0]
  $scope.curScores = [0,0,0,0]
  $scope.mode = "pass"
  $scope.started = false
  $scope.playTwoClubs = false
  var cardsToPass = []
  $scope.setHand = function(hand){
    $scope.hand = hand.map(function(i, index){
      i.imgName = i.description.toLowerCase()+"_of_"+i.suit.toLowerCase()+"s.svg";
      i.show = true;
      i.servIndex = index;
      return i;
    }).sort(function(a, b){
      if((a.suit) == (b.suit)){
        return (a.sort > b.sort) ? 1 : -1
      }
      return (a.suit > b.suit) ? 1 : -1;
    })
  }
  $scope.setCardsInPlay = function(hand){
     $scope.cardsInPlay = hand.map(function(i, index){
      i.imgName = i.description.toLowerCase()+"_of_"+i.suit.toLowerCase()+"s.svg";
      i.show = true;
      i.servIndex = index;
      return i;
    })
  }
  $scope.handContainsSuit = function(suit){
    var found = false
    $scope.hand.forEach(function(i){
      if(i.suit == suit){
        found = true
      }
    })
    return found
  }
  $scope.cardHit = function(card){
  	if($scope.mode == "pass"){
  		card.show = false;
  		cardsToPass.push(card)
  		if(cardsToPass.length >= 3){
         $scope.mode = "wait"
  			$scope.status = "Wait for others..."
  			socket.emit("passCards", cardsToPass)
  		}
  	}else if($scope.mode == "play"){
      if(($scope.playTwoClubs && card.description == "Two" && card.suit == "Club") || !$scope.playTwoClubs){
        if($scope.cardsInPlay.length == 0
          || $scope.cardsInPlay.length == 4
          || (card.suit == $scope.cardsInPlay[0].suit)
          || !$scope.handContainsSuit($scope.cardsInPlay[0].suit)){
          socket.emit("playCard", card)
        }
      }
    }
  }
  socket.on('cardPlayed', function(data){
    $scope.curScores = data.scores
    $scope.playTwoClubs = false
    $scope.setCardsInPlay(data.cardsInPlay)
    $scope.setHand(data.hand)
    if(data.yourTurn){
      var typeMsg = ""
      if($scope.cardsInPlay.length > 0){
        typeMsg = " (Must be a "+$scope.cardsInPlay[0].suit+" if you have one)"
      }
      if($scope.cardsInPlay.length == 4){
        typeMsg = " (You are leading suit)"
      }
      $scope.status = "Your turn to play"+typeMsg
      $scope.mode = "play"
    }else{
      $scope.status = "Wait for your turn"
      $scope.mode = "wait"
    }
    $scope.$apply()
  })
  socket.on('receivePass', function(data){
    $scope.setHand(data.hand)
    console.log($scope.hand)
    if(data.yourTurn){
      $scope.playTwoClubs = true
      $scope.status = "Your turn to play the 2 of clubs"
      $scope.mode = "play"
    }else{
      $scope.status = "Wait for your turn"
      $scope.mode = "wait"
    }
    $scope.$apply()
  })
  socket.on('gameStart', function(data){
    $scope.started = true
    $scope.scores = data.scores
    $scope.curScores = [0,0,0,0]
    $scope.mode = "pass"
    $scope.cardsInPlay = []
    cardsToPass = []
    $scope.playerNum = data.playerNum
  	$scope.status = "Click 3 cards to pass to left"
  	$scope.setHand(data.hand)
  	console.log($scope.hand)
  	$scope.$apply()
  })

  socket.on('gameOver', function(data){
    $scope.started = true
    $scope.scores = data.scores
    $scope.curScores = [0,0,0,0]
    $scope.mode = "Game over"
    $scope.cardsInPlay = []
    cardsToPass = []
    $scope.playerNum = data.playerNum
    
    $scope.$apply()

    if($scope.status != "Game over"){
      $scope.status = "Game over"
      if(data.playerLeft){
        alert("A player has left. See minumum score for current winner. Find new game?")
      }else{
        alert("Game Over. See minumum score for winner. Play again?")
      }
    }
    
    location.reload();
  })
}
var horde = gremlins.createHorde()
 horde.gremlin(gremlins.species.clicker()
 .clickTypes(['click'])
 .positionSelector(function() {
    // only click inside the foo element area
    var $el = $('#myCards');
    var offset = $el.offset();
    return [
      parseInt(Math.random() * ($el.outerWidth() + 100) + offset.left),
      parseInt(Math.random() * $el.outerHeight() + offset.top)
    ];
 })
 );
 horde.strategy(gremlins.strategies.distribution()
  .delay(50)
  )
 //horde.unleash({ nb: 1000000 })
</script>
{% endblock %}